@CHARSET "UTF-8";

.buttons {
	display: block;
	width: 200px;
	margin-top: 30px;
}

.semiEmptyPanel{
	min-height: 400px !important;
}

.relative{
	position: relative !important;
}

.saveButton {
	float: right !important;
}

.text {
	font-size: 30px;
}

/*
#agreementTable .button-right-column{
	border-left: none;
}

#agreementTable .button-left-column{
	border-right: none;
}

#agreementTable .button-column{
	width: 80px;
}
*/