@CHARSET "UTF-8";

/*
#agreementTable .list-row-button, #installmentTable .list-row-button, #agrSchedule .list-row-button, #chiefContractList .list-row-button{
	height: 20px;
	width: 30px;
	display: none;
	float: right;
}
*/


.list-row-button{
	height: 20px !important;
	width: 30px !important;
	display: none;
	float: right !important;
}

.hide-column-names table thead tr {
    display: none !important;
}

.addInstBtn{
	position: absolute !important;
	bottom: 10px !important;
}